.row div{
    height: 300px;
    background: #333;
}
.container{
	margin-top: 50px;
}
.form-in{
	padding-left: 100px;
}
.inp-age{
	width: 50px;
	text-align: center;
}
.inp-group{
	width: 70px;
	text-align: center;
}
.inp-sexual-identity{
	width: 30px;
	text-align: center;
}
.inp-faculty{
	width: 400px;
}
.inp-name{
	width: 100px;
}
